<html>
    <head>
        <meta charset="utf-8">
        <title>Blockly Demo: Code</title>
        <script type="text/javascript" src="apps/blockly_compressed.js"></script>
        
        <script type="text/javascript" src="language/en/_messages.js"></script>
        
        <script type="text/javascript" src="generators/spin.js"></script>
        
        <script type="text/javascript" src="language/common/control.js"></script>
        <script type="text/javascript" src="language/common/logic.js"></script>
        <script type="text/javascript" src="language/common/math.js"></script>
        <script type="text/javascript" src="language/common/text.js"></script>
        <script type="text/javascript" src="language/common/lists.js"></script>
        <!--script type="text/javascript" src="../../language/common/variables.js"></script-->
        <script type="text/javascript" src="language/common/procedures.js"></script>
        <!-- define blocks -->